body{
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
}

/* ヘッダー */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

header h1{
  font-size: 34px;
  padding: 10px 30px;
  border: 1px solid #000000;
}
header nav{
  font-size: 34px;
  font-weight: bold;
}

header nav a{
  margin-left: 30px;
  text-decoration: none;

}

header nav a:link{
  color: #000000;
}

header nav a:hover{
  color: #000000;
}

header nav a:visited{
  color: #000000;
}

header nav a:active{
  color: #000000;
}

/* メインエリア */
.main_area{
  margin: 0 auto 60px;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.main_area img{
  /* width: 100%; */
  max-width: 960px;
  display: block;
  margin: 0 auto;
}

h2{
  font-size: 34px;
  margin: 0 0 40px 0;
  text-align: center;
  line-height: 1.0;
}

/* Aboutエリア */
.about_area{
  width: 600px;
  margin: 0 auto 60px;
}

.about_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 160px;
}

.about_content .content01{
  width: 25%;
}

.about_content img{
  border-radius: 50%;
  width: 100%;
}

.about_content .content02 p{
  font-size: 24px;
  font-weight: bold;
}

.about_content .content02 li{
  font-size: 18px;
}

.works_area{
  width: 600px;
  margin: 0 auto 60px;
}

.works_content{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.works_content li{
  width: 31.5%;
  text-align: center;
  /* margin: 0 10px; */
  list-style: none;
}

.works_content li img{
  width: 100%;
  display: block;
  margin: 0 auto;
}

.works_content li p{
  font-size: 18px;
  margin: 0;
  padding: 30px 6px 0 6px;

}

.footer{
  width: 600px;
}

.footer_txt{
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
}